#array-container {
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.array-bar {
	width: 5px;
	display: inline-block;
	margin: 0 1px;
	background: linear-gradient(to left, #fedfe1, #f8c3cd);
	background-attachment: fixed;
}

#button-row {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	margin: 1px;
	display: grid;
	place-items: center;
	color: #000;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 1px;
	line-height: 2.63rem;
	font-size: 1rem;
	cursor: pointer;
	height: 45px;
	padding: 0 0.8rem;
}

svg#icon {
	width: 1rem;
	height: 1rem;
}
